body {
  font-family: "Ubuntu";
}

#title {
  background-color: #1A374D;
  color: #FFF;
}

h1 {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  line-height: 1.5;
}

h3 {
  background-color: #1A374D;
  text-align: center;
  color: #FFF;
}

#call-to-action {
  background-color: #406882;
  color: #FFF;
}

.cta-color {
  color: #FFF;
}

#footer {
  background-color: #6998AB;
  color: #FFF;
}
